@font-face {
    font-family: 'pixelmix';
    src: url('../assets/fonts/pixelmix.woff') format('woff');
    font-display: swap;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #008080;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
